.header {
    background: linear-gradient(to bottom, #253347, #ffffff);
}
.search-wrap {
    background-color: #8f8f8f;
}
.clear-icon {
    background-color: #a1a1a1;
}
.swiper-button-prev {
   color: #ffffff !important;
   opacity: 0;
   transition: .5s ease;
}
.swiper:hover .swiper-button-prev {
    opacity: 1;
}

.swiper-button-next {
    color: #ffffff !important;
   opacity: 0;
   transition: .5s ease;
}
.swiper:hover .swiper-button-next {
    opacity: 1;
}