@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AliFangYuan';
  src: url('../public/font/AlimamaFangYuanTiVF-Thin.woff2') format('woff2'),
       url('../public/font/AlimamaFangYuanTiVF-Thin.woff') format('woff');
}

body {
  margin: 0;
  font-family: 'AliFangYuan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
input {
  background: none;
  border: none;
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.w-32 {
  width: 256px;
}
.w-35 {
  width: 280px;
}
.w-100 {
  width: 400px;
}
.h-22 {
  height: 176px;
}
.h-50 {
  height: 400px;
}
.h-35 {
  height: 280px;
}
.h-37 {
  height: 296px;
}
